.innerWrap {
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.innerWrap_theme_dark {
    background-color: rgb(22, 22, 22);
}

.innerWrap_theme_light {
    background-color: rgb(255, 255, 255);
}

.infoWrap {
    margin: 50px 0 50px 50px;
    width: 70%;
    box-sizing: border-box;
}

.title {
    font-size: 50px;
    margin: 0;
}

.subtitle {
    font-size: 30px;
}

.description {
    font-size: 16px;
    line-height: 24px;
}

.skillsTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skill {
    margin: 0 10px 10px 0;
    border: 1px solid rgb(133, 133, 173);
    border-radius: 15px;
    padding: 10px;
}

.skillText {
    margin: 0;
    font-size: 18px;
}

.buttonWrap {
    margin-top: 50px;
}

.btn {
    margin: 0 10px 0 0;
    padding: 0 10px;
    border: none;
    background-color: rgb(133, 133, 173);
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    height: 50px;
    opacity: 0.6;
}

.btn:hover {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 10px rgb(133, 133, 173);
    transition: box-shadow 0.3s ease;
    opacity: 1;
}

.photoWrap {
    margin: 50px 50px 50px 0;
    width: 50%;
}

.photo {
    width: 100%;
}

.text_color_darkTheme {
    color: rgb(255, 255, 255);
}
  
.text_color_lightTheme {
    color: rgb(19, 19, 19);
}

@media screen and (max-width: 1280px) {
    .infoWrap {
        width: 80%;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 24px;
        margin: 16px 0;
    }
    
    .description {
        line-height: 18px;
    }

    .skillsTitle {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .skillText {
        font-size: 12px;
    }

    .photoWrap {
        width: 40%;
    }

    .buttonWrap {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }

    .innerWrap {
        flex-direction: column;
        align-items: flex-end;
    }

    .infoWrap {
        margin: 30px 30px 0 30px;
        width: calc(100% - 60px);
    }

    .skillsTitle {
        font-size: 14px;
        margin-top: 20px;
    }

    .skill {
        border-radius: 10px;
        padding: 5px;
        margin: 0 5px 5px 0;
    }

    .photoWrap {
        margin: 0;
    }

    .btn {
        font-size: 16px;
        height: 40px;
    }
}

@media screen and (max-width: 550px) {
    .infoWrap {
        margin: 10px 10px 0 10px;
        width: calc(100% - 20px);
    }

    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 26px;
    }

    .subtitle {
        font-size: 16px;
    }

    .photoWrap {
        margin-top: -50px;
    }
}