.header {
  display: flex;
  max-width: 80vw;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 10;
}

.parallelogramRight {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 39.8vw;
  height: 100px;
  transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}



.toggleContainer {
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	border-radius: 56px;
	background: rgb(198, 198, 225);
	font-weight: bold;
	color: rgb(133, 133, 173);
	cursor: pointer;
	column-gap: -25px;
	border: 0;
	cursor: pointer;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 54%;
	height: 100%;
	left: 0;
	border-radius: 56px;
	background: white;
  box-shadow: 0 0 10px rgb(133, 133, 173);
	transition: all 0.3s;
}

.darkThemeBtn {
	text-transform: uppercase;
	padding: 6px;
	text-align: center;
	z-index: 1;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.06em;
}

.lightThemeBtn {
	text-transform: uppercase;
	padding: 6px;
	text-align: center;
	z-index: 1;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.06em;
}

.toggleCheckbox {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 46%;
}

.toggleCheckbox:checked + .toggleContainer .darkThemeBtn {
	color: rgb(133, 133, 173);
	transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer .lightThemeBtn {
	color: rgb(133, 133, 173);
	transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer .darkThemeBtn {
	color: rgb(133, 133, 173);
	transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer .lightThemeBtn {
	color: rgb(133, 133, 173);
	transition: color 0.3s;
}



.themeBtnWrap {
  display: flex;
  align-items: center;
}

.btn {
  margin: 10px;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  height: 50px;
  opacity: 0.6;
  z-index: 10;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(133, 133, 173);
  transition: box-shadow 0.3s ease;
  opacity: 1;
}

.btn_active {
  box-shadow: 0 0 10px rgb(133, 133, 173);
  transition: box-shadow 0.3s ease;
  opacity: 1;
}

.btn_inactive {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  opacity: 0.6;
}

.btn_color_darkTheme {
  color: rgb(255, 255, 255);
}

.btn_color_lightTheme {
  color: rgb(19, 19, 19);
}

.btn_nav_lightTheme:hover {
  box-shadow: 0 0 10px #228383;
}

.btn_nav_lightTheme_active {
  box-shadow: 0 0 10px #228383;
}

.navMenu {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1152px;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .btn {
    font-size: 16px;
    border-radius: 30px;
    height: 45px;
  }

  .themeBtn {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 90vw;
    width: 100%;
  }
  .btn {
    font-size: 14px;
    border-radius: 25px;
    height: 40px;
    margin: 5px;
  }

  .themeBtnWrap {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .themeBtn {
    font-size: 12px;
    height: 30px;
  }
}

@media screen and (max-width: 550px) {
  .btn {
    font-size: 12px;
    border-radius: 20px;
    height: 30px;
    margin: 0 0 0 5px;
  }

  .themeBtn {
    font-size: 12px;
  }
} 