.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.wrap_theme_dark {
    background-color: rgb(22, 22, 22);
}

.wrap_theme_light {
    background-color: rgb(255, 255, 255);
}

.text_color_darkTheme {
    color: rgb(255, 255, 255);
}
  
.text_color_lightTheme {
    color: rgb(19, 19, 19);
}

.contactsWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contactsTitle {
    font-size: 30px;
    font-weight: bold;
}

.contactTitle {
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.iconContactWrap {
    display: flex;
    align-items: center;
}

.contact {
    margin: 0 0 0 20px;
}

.contactNumWrap {
    margin: 0 0 0 20px;
    border: none;
    padding: 0;
    width: 140px;
    height: 20px;
    text-align: start;
}

.contactNumWrap:hover {
    opacity: 0.6;
}

.contactNum {
    margin: 0;
}

.contactImg {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.socialWrap {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
    position: relative;
}

.socialIcon {
    position: relative;
    list-style: none;
    margin: 0 50px 0 0;
}

.socialIcon span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: transparent;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.socialIcon:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

.socialIcon:hover span:nth-child(5){
    transform: translate(12px, -12px);
    opacity: 1;
}
.socialIcon:hover span:nth-child(4){
    transform: translate(9px, -9px);
    opacity: .4;
}
.socialIcon:hover span:nth-child(3){
    transform: translate(6px, -6px);
    opacity: .3;
}
.socialIcon:hover span:nth-child(2){
    transform: translate(3px, -3px);
    opacity: .2;
}
.socialIcon:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: .1;
}

.img {
    width: 40px;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 768px) {
    .contactsTitle {
        font-size: 26px;
    }

    .contactTitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .contactsWrap {
        padding: 20px;
    }
    
}